@{
    ViewData["Title"] = "Home Page";
    ViewBag.FormId = "search-form";
}

@section HeaderSearch {
    <div class="container-fluid position-relative">
        <form class="m-auto col-xl-5 col-md-6" id="@ViewBag.FormId" role="search">
            <div class="input-group input-group-lg">
                <input name="search" id="search" class="form-control border-end-0 border-primary" value="@ViewBag.Search" type="search" placeholder="Поиск" aria-label="Поиск" />
                <button class="btn btn-outline-info border-primary border-start-0" type="button" data-bs-toggle="collapse" data-bs-target=".filter-container-h>div" aria-expanded="false"><i class="bi bi-funnel"></i></button>
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <div class="filter-container-h mx-auto pe-none">
            <div class="collapse py-1 pe-auto">
                <div class="card m-auto">
                    <div class="card-header">Дополнительные фильтры</div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Статус</h5>
                                @foreach (SelectListItem statusItem in ViewBag.StatusFilterList.List)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" form="@ViewBag.FormId" class="form-check-input" name="@ViewBag.StatusFilterList.ParamName" id="@ViewBag.StatusFilterList.ParamName-@statusItem.Value" value="@statusItem.Value" checked="@statusItem.Selected" autocomplete="off">
                                        <label class="form-check-label" for="@ViewBag.StatusFilterList.ParamName-@statusItem.Value">@statusItem.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<section class="container-fluid mb-3">
    <div class="container m-auto" style="height:100px">
        <div class="row justify-content-center">
            @foreach (SelectListItem categoryItem in ViewBag.CategoryFilterList.List)
            {
                <div class="col flex-grow-1 gx-xxl-5 gx-xl-4 gx-sm-5 gy-2 text-nowrap">
                    <input type="radio" form="@ViewBag.FormId" class="btn-check" name="@ViewBag.CategoryFilterList.ParamName" id="@ViewBag.CategoryFilterList.ParamName-@categoryItem.Value" value="@categoryItem.Value" checked="@categoryItem.Selected" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-5 d-block text-truncate" for="@ViewBag.CategoryFilterList.ParamName-@categoryItem.Value">@categoryItem.Text</label>
                </div>
            }
        </div>
    </div>
</section>